.Timer-Container {
    display: flex;
    flex-direction: row;

    //Styles for each unit time container
    &>div {
        width: 6rem;
        @include DebugBorders(green);

        .Counter-Text {
            font-size: 4rem;
            font-weight: bold;        
            text-shadow: 0 0 10px black;
            margin: -0.6rem;
            transition: 0.5s;

            @include ScreenMinWidth(400px) {
                font-size: 3rem;
            }
        }
    
        .Title {
            font-weight: normal;
            font-size: 1.3rem;
            text-shadow: 0 0 10px black;
        }
    }

    //Styles for double points
    span {
        font-size: 4rem;
        margin-top: -1rem;
    }
}