.WaveForm-Component {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 200px;
    font-size: 1.3rem;    

    @include ScreenMinWidth(500px) {
        height: 150px;
    }

    //Song title styles
    .Title {
        grid-row: 1;
        text-align: left;
        font-weight: bold;
        margin-bottom: 8px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    //Song waveform styles
    #WaveForm {
        grid-row: 2;
        width: 100%;
        @include DebugBorders(green);
    }

    .Controls-Container {
        display: grid;
        grid-row: 3;
        grid-template-columns: 1fr 1fr 1fr;        
        margin-top: 16px;        

        button {
            width: 32px;
            height: 32px;
        }

        //Volume of song section
        .Volume-Container {
            grid-column: 1;
            display: flex;
            align-items: center;
            position: relative;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            input[type="range"] {
                appearance: none;
                height: 6px;
                background-color: white;   
                border-radius: 100px;
                margin: 0 16px;

                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 16px;
                    height: 16px;
                    background-color: $PrimaryColor;
                    border-radius: 100%;
                    user-select: none;
                }

                @include ScreenMinWidth(800px) {
                    display: none;
                }
            }
        }

        //Control of song buttons section
        .Buttons-Container {
            grid-column: 2;
            
            button {
                @include Mechanic-Button();
            }
        }

        //Info of song section
        .Audio-Info {
            grid-column: 3;
            text-align: right;            

            .Duration-Container {
                @include ScreenMinWidth(800px) {
                    display: none;
                }
            }
        }
    }
}