//Styles for normal waveform component
.WaveForm-Component {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 15rem;
    font-size: 1.3rem;    

    @include ScreenMinWidth(500px) {
        height: 11rem;
    }

    //Song title styles
    .Title {
        grid-row: 1;
        text-align: left;
        font-weight: bold;
        margin-bottom: 8px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    //Song waveform styles
    #WaveForm {
        grid-row: 2;
        width: 100%;
        @include DebugBorders(green);
    }

    //Playback controls styles
    .Controls-Container {
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;        
        margin-top: 16px;  

        button {
            width: 2.5rem;
            height: 2.5rem;
        }

        //Volume of song section
        .Volume-Container {
            grid-column: 1;
            display: flex;
            align-items: center;
            position: relative;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            input[type="range"] {
                appearance: none;
                height: 6px;
                background-color: white;   
                border-radius: 100px;
                margin: 0 16px;

                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 16px;
                    height: 16px;
                    background-color: $PrimaryColor;
                    border-radius: 100%;
                    user-select: none;
                }

                @include ScreenMinWidth(800px) {
                    display: none;
                }
            }
        }

        //Control of song buttons section
        .Buttons-Container {
            grid-column: 2;
            
            button {
                @include Mechanic-Button();
            }
        }

        //Info of song section
        .Audio-Info {
            grid-column: 3;
            text-align: right;            

            .Duration-Container {
                @include ScreenMinWidth(800px) {
                    display: none;
                }
            }
        }
    }
}

//Styles for simple waveform component
.SimpleWaveForm-Container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: black;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;

    .Play-Button {
        grid-column: 1;
        width: 48px;
        height: 48px;
        background-color: transparent;
        border-radius: 100%;
        border: 3px solid white;
        padding: 12px;
        cursor: pointer;

        .Logo-Svg {
            fill: white;
            //transform: translateX(2px);
        }
    }

    div {
        grid-column: 2;

        //Song waveform styles
        #WaveForm { 
            width: 100%;
            height: 50px;
            @include DebugBorders(green);
        }
    }
}