//Styles for normal waveform component
.WaveForm-Component {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 15rem;
    font-size: 1.3rem;    

    @include ScreenMinHeight(650px) {
        height: 12rem;    
    }

    @include ScreenMinWidth(500px) {
        height: 10rem;
    }

    //Song title styles
    .Title {
        grid-row: 1;
        text-align: left;
        font-weight: bold;
        margin-bottom: 8px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    //Song waveform styles
    #WaveForm {
        grid-row: 2;
        width: 100%;
        @include DebugBorders(green);
    }

    //Playback controls styles
    .Controls-Container {
        grid-row: 3;
        display: grid;
        grid-template-columns: 35% 30% 35%;        
        margin-top: 16px;  

        &.Show-Volume {
            grid-template-columns: 100% 0 0;
        }

        button {
            flex-shrink: 0;
            width: 2.5rem;
            height: 2.5rem;            
        }

        //Volume of song section
        .Volume-Container {
            grid-column: 1;
            display: flex;
            justify-content: left;
            position: relative; 
            @include DebugBorders(green);

            .Volume-Button {
                width: 2.5rem;
                height: 2.5rem;
                background-color: transparent;
                border: none;
                cursor: pointer
            }

            #Volume-Slider {
                max-width: 10rem;
                
                @include ScreenMinWidth(800px) {
                    display: none;
                    
                    &.Show-Volume {
                        display: inline;
                        max-width: none;
                    }
                }
            }

            .Volume-Value {
                width: 2.5rem;
            }

            & > :not(:last-child) {
                margin-right: 1rem;
            }
        }

        //Control of song buttons section
        .Buttons-Container {
            grid-column: 2;
            @include DebugBorders(green);
            
            button {
                @include Mechanic-Button();
            }
        }

        //Info of song section
        .Audio-Info {
            grid-column: 3;
            text-align: right;     
            @include DebugBorders(green);       

            .Duration-Container {
                @include ScreenMinWidth(800px) {
                    display: none;
                }
            }
        }
    }
}

//Styles for simple waveform component
.SimpleWaveForm-Container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: rgba(black, 0.8);
    border-radius: 16px;
    padding: 16px;
    gap: 16px;

    .Play-Button {
        grid-column: 1;
        width: 48px;
        height: 48px;
        background-color: transparent;
        border-radius: 100%;
        border: 3px solid white;
        padding: 12px;
        cursor: pointer;

        .Logo-Svg {
            fill: white;
        }
    }

    div {
        grid-column: 2;

        //Song waveform styles
        #WaveForm { 
            width: 100%;
            height: 50px;
            @include DebugBorders(green);
        }
    }
}