.Home-Page {
    //Set static background image 
    .Background-Page {
        @include Image-Background(url(../../Images/Gallery/Banner.png));
    }    
    
    //Presentation content as banner of page
    .Banner-Container {
        width: 100%;
        min-height: 100vh;
        color: white;
        justify-content: space-between;
        padding: 16px 5% 32px 5%; 
             
        .Title-Image {
            height: 150px;
            user-select: none;
            pointer-events: none;
            @include DebugBorders();
            
            img {
                width: 100%;
                height: 100%;
            }

            @include ScreenMinWidth(500px) {
                height: 100px;
            }
        }
        
        //Artwork and waveform song container
        .Song-Container {
            display: flex;
            flex-flow: row;
            width: 100%;
            gap: 32px;
                        
            background-color: rgba(black, 0.5);
            border-radius: 20px;
            padding: 32px;
            transition: 1s;

            @include ScreenMinWidth(1200px) {
                flex-wrap: wrap;
            }
    
            //Artwork of song container
            .Image-Container {
                width: 200px;
                flex-shrink: 0;
                @include DebugBorders();    

                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        
            //Waveform and song info container
            .WaveForm-Container {
                flex-grow: 1;
                @include DebugBorders();
            }
        
            //Date count down container
            .CountDown-Container {
                width: 200px;
                flex-shrink: 0;
                @include DebugBorders();

                @include ScreenMinWidth(1200px) {
                    display: none;
                }
            }
        }

        //Set a margin in small resolution to separate the timer to the button
        .CountDown-Container {
            @include ScreenMinHeight(720px)
            {
                margin-bottom: 32px;
            }
        }

        .EndOfBanner-Button button {
            min-width: 200px;
            @include Fx-Glow();
        }
    }

    //Body information section
    .Main-Background {
        width: 100%;
        min-height: 1000px;
        @include Solid-Background(rgba(black, 0.6));          

        .TabControl-Buttons {
            position: sticky;        
            margin-bottom: $SectionSeparation;
            top: $HeaderSize;    
            @include ButtonsGroup-Container();

            button:not(.Selected) {
                @include Fx-Glow();
            }
        }

        .TabControl-Content {
            & > div {
                display: none;
    
                li {
                    list-style: decimal;
                }
    
                &.Show-Tab {
                    display: inline;
                }
            }
        }
    
        .About-Us {
            @include Grid-Wrap(300px, 64px);
            
            .Image-Container {
                width: 100%;     
                cursor: pointer;
                user-select: none;            
                @include DebugBorders(green);
                @include Centered-Container();

                img {
                    width: 80%;
                    height: 100%;
                    object-fit:cover;
                    aspect-ratio: 16/9;
                    border-radius: 10px;
                    @include Fx-Glow();
                }
            }

            .Logo-Container {
                width: 100%;
                height: 64px;
                margin-top: 32px;
                @include DebugBorders(green);
                @include Centered-Container();

                img {
                    height: 100%;
                }
            }
        }
    }
}