.Home-Page {
    //Set static background image 
    .Background-Page {
        @include Image-Background(url(../../Images/Gallery/Banner.webp));
    }    
    
    //Presentation content as banner of page
    .Banner-Container {
        width: 100%;
        min-height: 100vh;
        color: white;
        justify-content: space-between;
        padding: 16px 5% 32px 5%; 
             
        .Title-Image {
            height: 12rem;
            user-select: none;
            pointer-events: none;
            transition: 0.5s;
            @include DebugBorders();
            
            img {
                width: 100%;
                height: 100%;
            }

            @include ScreenMinHeight(700px) {
                height: 8rem;
            }
        }
        
        //Artwork and waveform song container
        .Song-Container {
            display: flex;
            width: 100%;      
            gap: 2rem;
                        
            background-color: rgba(black, 0.5);
            border-radius: 20px;
            padding: 2rem;
            transition: 1s;

            @include ScreenMinWidth(1200px) {
                flex-wrap: wrap;
            }
    
            //Artwork of song container
            .Image-Container {
                width: 15rem;
                height: 15rem;
                flex-shrink: 0;
                margin: 0 auto;
                transition: 0.5s;
                cursor: pointer;
                @include DebugBorders();

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @include ScreenMinHeight(650px) {
                    width: 12rem;
                    height: 12rem;
                    
                    @include ScreenMinWidth(500px) {
                        width: 10rem;
                        height: 10rem;
                    }
                }
            }
        
            //Waveform and song info container
            .WaveForm-Container {
                flex-grow: 1;
                @include DebugBorders();
                
            }
        
            //Date count down container
            .SendRemix-Container {
                width: 15rem;
                height: 15rem;
                @include DebugBorders();
                position: relative;

                a {
                    width: 100%;
                    min-height: 3rem;
                    border-radius: 10px;
                    @include Centered-Container();
                }

                @include ScreenMinHeight(650px) {
                    width: 12rem;
                    height: 12rem;

                    @include ScreenMinWidth(500px) {
                        width: 10rem;
                        height: 10rem;
                    }
                }

                @include ScreenMinWidth(1150px) {
                    display: none;
                }
            }
        }

        //Set a margin in small resolution to separate the timer to the button
        .CountDown-Container {
            @include ScreenMinHeight(650px)
            {
                margin-bottom: 2.5rem;
            }
        }

        .EndOfBanner-Button {
            a {
                display: none;

                @include ScreenMinWidth(1100px) {
                    display: inline;
                }
            }
            
            button {
                display: inline;
                min-width: 15rem;
                backdrop-filter: blur(20px);

                @include ScreenMinWidth(1100px) {
                    display: none;
                }
            }
        }
    }

    //Body information section
    .Main-Background {
        width: 100%;
        min-height: 1000px;
        @include Solid-Background(rgba(black, 0.6));   
        @include Centered-Container();
        justify-content: start;

        //Tabcontrol navigation buttons
        .TabControl-Buttons {
            position: sticky;        
            margin-bottom: $SectionSeparation;
            padding: 0 10%;
            top: 0;
            z-index: 1000;
            @include ButtonsGroup-Container();

            button:not(.Selected) {
                @include Fx-Glow();
            }

            @include ScreenMinWidth(500px) {
                padding: 0;
            }
        }

        //Tabcontrol content styles
        .TabControl-Content {
            & > div {
                display: none;
    
                li {
                    list-style: decimal;
                    list-style-position: inside;
                }
    
                &.Show-Tab {
                    display: inline;
                }
            }
        }
    
        //About us content section
        .TabContent-AboutUs {
            @include Grid-Wrap(300px, 64px);
            
            .Image-Container {
                width: 100%;     
                cursor: pointer;
                user-select: none;            
                @include DebugBorders(green);
                @include Centered-Container();

                img {
                    width: 80%;
                    height: 100%;
                    object-fit:cover;
                    aspect-ratio: 16/9;
                    border-radius: 10px;
                    @include Fx-Glow();

                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }

            .Logo-Container {
                width: 100%;
                height: 4rem;
                margin-top: 32px;
                @include DebugBorders(green);
                @include Centered-Container();

                img {
                    height: 100%;
                }
            }
        }

        //Resources content section    
        .TabContent-Resources {
            .Stems-Waveform {
                
                div {
                    width: 100%;
                    max-width: 400px;
                }
            }
            
            .DownloadButton-Container {
                margin: $SectionSeparation 0;
                @include Centered-Container();
            }

            .Contact-Section {
                a {
                    color: white;
                    @include Fx-TurnOn-Light($SecondaryColor);
                }
            }
        }
    }
}