.Home-Page {
    //Set static background image 
    .Background {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -100;

        background-image: url(../../Images/Banner.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }    
    
    //Presentation content as banner of page
    .Banner-Container {
        width: 100%;
        height: 100vh;
        color: white;
        justify-content: space-between;
        padding: 16px 5% 32px 5%; 
             
        .Title-Image {
            height: 150px;
            user-select: none;
            pointer-events: none;
            @include DebugBorders();
            
            img {
                width: 100%;
                height: 100%;
            }
        }
        
        //Artwork and waveform song container
        .Song-Container {
            display: grid;        
            grid-template-columns: auto 1fr auto;
            gap: 32px;
            width: 100%;
            
            background-color: rgba(black, 0.5);
            border-radius: 20px;
            padding: 32px;
    
            //Artwork of song container
            .Image-Container {
                grid-column: 1;
                width: 200px;
                @include DebugBorders();
        
                img {
                    width: 100%;
                }
            }
        
            //Waveform and song info container
            .WaveForm-Container {
                grid-column: 2;
                @include DebugBorders();
            }
        
            //Date count down container
            .CountDown-Container {
                grid-column: 3;
                width: 200px;
                @include DebugBorders();
            }
        }

        //Set a margin in small resolution to separate the timer to the button
        .CountDown-Container {
            @include ScreenMinHeight(720px)
            {
                margin-bottom: 32px;
            }
        }

        .EndOfBanner-Button button {
            min-width: 200px;
        }
    }

    .Main-Background {
        @include Solid-Background(rgba(black, 0.5));          
        min-height: 1000px;

        .TabControl-Buttons {
            position: sticky;        
            margin-bottom: $SectionSeparation;
            top: $HeaderSize;    
            @include TabButtons-Container();
        }

        .TabControl-Content > div {
            display: none;

            li {
                list-style: decimal;
            }

            &.Show-Tab {
                display: inline;
            }
        }

        .Points-ToGrade {
            img {
                width: 100%;
            }
        }
    }
}