//Styles for convencional buttons
@mixin Convencional-Button($Color: $PrimaryColor) {
    font-size: $FontSize;
    color: $White;
    background-color: $Color;
    
    padding: 0.6rem 2rem;
    border-radius: $MinRadius;
    border-style: none;

    user-select: none;
    cursor: pointer;
    @include Fx-Glow();
}

.Convencional-Button {
    @include Convencional-Button();
}

//Styles for outline buttons
@mixin Outline-Button($Color: $PrimaryColor) {
    @include Convencional-Button();
    background-color: transparent;
    border: 2px solid $Color;
}

.Outline-Button {
    @include Outline-Button();
}

//Styles for buttons that mantain pressed as mechanical
@mixin Mechanic-Button() {
    padding: 0.6rem;
    box-shadow: 0 0.3rem 0 gray;
    transform: translateY(-0.3rem);
    border-radius: 0;
    border: 0.0625rem solid gray;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    &:active, &.Pressed {
        box-shadow: 0 0 0 gray;
        transform: translateY(0);
    }
}

.Mechanic-Button {
    @include Mechanic-Button();
}

//Style for the buttons grouped
@mixin ButtonsGroup-Container {
    width: 100%;
    display: flex;

    button {
        flex-grow: 1;
        font-size: $FontSize;
        color: $White;
        padding: 0.6rem 2rem;
        cursor: pointer;

        background-color: transparent;
        border: 2px solid $PrimaryColor;
        border-radius: 0;
        backdrop-filter: blur(20px);

        &.Selected {        
            background-color: $PrimaryColor;
            cursor: default;
        }
        
        &:first-child {
            border-radius: 8px 0 0 8px;
        }

        &:last-child {
            border-radius: 0 8px 8px 0;
        }
    }
}

.ButtonsGroup-Container {
    @include ButtonsGroup-Container();
}

.Hide-Control {
    display: none;
}

//Styles for the cards container with shadow
.Card-Style {
    background-color: $White;
    box-shadow: 0 0 30px $Shadow;
    border-radius: $MaxRadius;
    padding: 48px;
}

//Styles for the circles that surround the icons.
.Icon-Circle {
    width: 48px;
    height: 48px;
    background-color: $PrimaryColor;
    border-radius: 100%;
    padding: 12px;
    user-select: none;
}

//Elements with a simple image design
.Graphics {
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;

        .Image-Container {
            width: 150px;
            height: 150px;
            padding: 10%;
            border-radius: 100%;
            @include Fx-SlideUp();

            img {
                width: 100%;
                height: 100%;
                pointer-events: none;
    
            }
        }
    }
}

//Styles for the titles or important text
.Title {
    font-size: 2rem;
    text-align: center;

    @include ScreenMinWidth(500px) {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

//Set a solid color as background
@mixin Solid-Background($Color: Whitesmoke) {
    width: 100%;
    background-color: $Color;
    padding: $SectionSeparation 0;
    
    &>section {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.Solid-Background {
    @include Solid-Background();
}

//Set static background image 
@mixin Image-Background($Image: none) {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;

    background-image: $Image;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

.Image-Background {
    @include Image-Background();
}