//Effect to move up elements
@mixin Fx-SlideUp($Quantity: 20px, $Time: 0.3s) {
    transition: $Time;

    &:hover {
        transform: translateY(-$Quantity);
    }
}

.Fx-Up {
    @include Fx-SlideUp();
}

//Effect to reduce the element scale
@mixin Fx-Compact($Scale: 0.9, $Time: 0.2s) {
    transition: $Time;

    &:hover {
        transform: scale($Scale);
    }
}

.Fx-Compact {
    @include Fx-Compact();
}

//Effect to turn on the color on hover and fade when not
@mixin Fx-TurnOn-Light($Color: white, $Time: 1s) {
    transition: $Time;

    &:hover {
        color: $Color;
        transition: 0s;
    }
}

.Fx-TurnOn-Light {
    @include Fx-TurnOn-Light();
}

//Effect to generate a glow in control borders
@mixin Fx-Glow($Color: $SecondaryColor, $Expansion: 30px, $Time: 0.3s, $Opacity: 0.6) {
    transition: $Time;

    &:hover {
        box-shadow: 0 0 $Expansion rgba($Color, $Opacity);            
    }
}

.Fx-Glow {
    @include Fx-Glow();
}